{% extends 'base.html.twig' %}

{% block title %}Anime{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Webix Library -->
    <link rel="stylesheet" href="{{ asset('bundles/core/webix/webix.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/core/webix/skins/material.css') }}" type="text/css">
    <!-- File Manager -->
    <link rel="stylesheet" href="{{ asset('bundles/core/filemanager/filemanager.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/core/filemanager/skins/material.css') }}" type="text/css">
    {{ encore_entry_link_tags('anime') }}
    <style>
        div.webix_view.webix_fmanager_preview img {
            object-fit: contain;
        }
        div.webix_dataview_item.tiles div.webix_fmanager_card_preview.file img {
            object-fit: contain;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Webix Library -->
    <script src="{{ asset('bundles/core/webix/webix.js') }}" type="text/javascript"></script>
    <!-- File Manager -->
    <script src="{{ asset('bundles/core/filemanager/filemanager.js') }}" type="text/javascript"></script>
    {{ encore_entry_script_tags('anime') }}
    <script>
        const MERCURE_HUB_URL = '{{ mercure_hub_url }}';
    </script>
{% endblock %}

{% block body %}
    <div id="root">
    </div>
{% endblock %}
