{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('books') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('books') }}
{% endblock %}

{% block head %}
    <link rel="manifest" href="{{ path('books_manifest') }}" crossorigin="use-credentials">
{% endblock %}

{% block body %}
    <div id="root">
    </div>
{% endblock %}
