{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}
{% block favicon %}{{ asset('build/books/images/favicon.ico') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('books') }}
    <script>
        const MERCURE_HUB_URL = '{{ mercure_hub_url }}';
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('books') }}
{% endblock %}

{% block head %}
    <link rel="manifest" href="{{ asset('build/books/manifest.json') }}" crossorigin="use-credentials">
{% endblock %}

{% block body %}
    <div id="root">
    </div>
{% endblock %}
